[submodule "libelperiodic"]
	path = libelperiodic
	url = https://github.com/sobomax/libelperiodic.git
[submodule "hepconnector"]
	path = hepconnector
	url = https://github.com/sippy/hepconnector.git
[submodule "libucl"]
	path = external/libucl
	url = https://github.com/sippy/libucl.git
