*~
*.orig
*.rej
*.o
.deps
aclocal.m4
autom4te.cache
config.guess
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
INSTALL
install-sh
ltmain.sh
makeann
Makefile
Makefile.in
missing
mkinstalldirs
rtpproxy
stamp-h1
