[submodule "libelperiodic"]
	path = libelperiodic
	url = https://github.com/sobomax/libelperiodic.git
[submodule "hepconnector"]
	path = hepconnector
	url = https://github.com/sippy/hepconnector.git
[submodule "libucl"]
	path = external/libucl
	url = https://github.com/sippy/libucl.git
[submodule "xxHash"]
	path = external/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "external/libre"]
	path = external/libre
	url = https://github.com/creytiv/re.git
