*.a
*.o
*.so.*
*.So
*.so
*.po
*.lo
*.gcno
*,v
a.out
autom4te.cache
ktrace.out
Version.map
Makefile
config.log
config.status
libtool
./build/
src/.deps/
src/.libs/
src/Makefile
src/libelperiodic.la
src/libelperiodic_la-periodic.lo
src/libelperiodic_la-prdic_math.lo
src/testskew
.deps
__pycache__
*.egg-info
