*~
*.orig
*.rej
*.o
*.gcno
*.gcda
.deps
.gdbinit
autom4te.cache
config.guess
config.log
config.status
Makefile
stamp-h1
libtool
extractaudio/extractaudio
src/rtpproxy
src/rtpproxy_debug
src/rtpp_objck
makeann/makeann
src/config.h
src/config_std.h
libexecinfo/libexecinfo.a
libelperiodic/Makefile
.libs
*.lo
*.la
.gdbinit*
python/sippy_lite/sippy/Time/clock_dtime.py
